body{
	background-color: black;
}



#back{
	background-image : url(../img/rks-3.jpg);
	color: white;
	font-size: 32px;
	padding: 2px;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	text-decoration: none; 
	
}

#srchbtn{
	margin: 3px;
	padding: 2px;
}

img{
	border-radius: 50%;
}

#pad{
	padding-top: 20px !important;
	padding:10px;
}

#rowa{
	display: inline;
}

a {
     text-decoration: none ;
  }

a:hover
  {
    color:green;
    text-decoration:none;
    cursor:pointer;
   }


.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #00802b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#gap{
	margin: 2px;
}

i{

}